.container {
    /* background-color: #FF5722; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .formFind {
    /* background-color: #0000ff; */
    /* color: #fff; */
    padding: 10px;
    width: 30%;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    align-content: flex-start;
 }

 .dataResul {
  /* background-color: #37d81b; */
  /* color: #fff; */
  padding: 10px;
  width: 50%;
  justify-content: space-between;
  flex-direction: row;
}

table {
width: 100%;
}